.env
node_modules
.DS_Store
*.css.map
main.css
coverage
scripts/.sync.env
sleeper-data/
scripts/.dev-hoops-demo.js
scripts/.dev-hoops-league.js
scripts/.dev-hoops-season.js
scripts/.dev-hoops-stats.js
