<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script defer src="admin.js"></script>
    <script src="navbar.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Campus Clash</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
</head>
<body>
    <div class="header">
        <div class="header-title">
            Admin
        </div>
    </div>
    <div class="get-users-container" get-users-container>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Teams</th>
                </tr>
                </thead>
                <tbody user-table-body>
                <tbody>
            </table>
        </div>
    </div>
    <div class="admin-functions">
        <div class="function-container">
            <div class="button-container">
                <button onclick="displayCreateUserContainer()">
                    <i class="fa-solid fa-user-plus" style="padding-right: 5px;"></i>
                    Add a Player
                </button>
            </div>
            <div class="sub-container" create-user-container style="display: none">
                <form id="create-form">
                    <input type="text" class="first-name" first-name placeholder="First Name">
                    <input type="text" class="last-name" last-name placeholder="Last Name">
                    <div style="padding-top: 5px;">
                        <label style="padding-right: 5px;">Display Color</label>
                        <input style="border-radius: 5px;" type="color" class="display-color" display-color>
                    </div>
                    <div class="team-container" team-container>
                        <select class="team-picker" id="team-picker" team-options>
                        </select>
                    </div>
                    <button type="submit">Create Player</button>
                </form>
                <hr>
            </div>
        </div>
        <div class="function-container">
            <div class="button-container">
                <button onclick="displayRemoveUserContainer()">
                    <i class="fa-solid fa-user-minus" style="padding-right: 5px;"></i>
                    Remove a Player
                </button>
            </div>
            
            <div class="sub-container" remove-user-container style="display: none">
                <form id="remove-form">
                    <div class="user-container" user-container>
                        <select class="user-picker" id="user-picker" user-options>
                        </select>
                    </div>
                    <button type="submit">Remove Player</button>
                </form>
            </div>
        </div>
        <div class="function-container">
            <div class="button-container">
                <button onclick="displayTeamContainer()">
                    <i class="fa-solid fa-calculator" style="padding-right: 5px;"></i>
                    Calculate Team Score
                </button>
            </div>
            <div class="sub-container" calculate-team-score-container style="display: none">
                <form id="score-form">
                    <div class="team-picker-container" team-picker-container>
                        <select class="calculate-team-picker" id="calculate-team-picker" calculate-team-options>
                        </select>
                    </div>
                    <div><select team-score-season season-options></select></div>
                    <div><button type="submit">Calculate Score</button></div>
                </form>
                <form id="all-score-form">
                    <button type="submit">Calculate Scores for all teams</button>
                </form>
            </div>
        </div>
        <div class="function-container">
            <div class="button-container">
                <button onclick="displayRankingsContainer()">
                    <i class="fa-solid fa-download" style="padding-right: 5px;"></i>
                    Retrieve Rankings
                </button>
            </div>
            <div class="sub-container" rankings-container style="display: none">
                <form id="rankings-form">
                    <div><select rankings-season season-options></select></div>
                    <div><select season-type-options></select></div>
                    <div><select week-options></select></div>
                    <div><button type="submit">Retrieve Rankings</button></div>
                </form>
            </div>
        </div>
        <div class="function-container">
            <div class="button-container">
                <button onclick="displayRecruitRankingsContainer()">
                    <i class="fa-solid fa-download" style="padding-right: 5px;"></i>
                    Retrieve Recruiting Rankings
                </button>
            </div>
            <div class="sub-container" recruit-rankings-container style="display: none">
                <form id="recruit-rankings-form">
                    <div><select recruiting-season season-options></select></div>
                    <div><button type="submit">Retrieve Recruiting Rankings</button></div>
                </form>
            </div>
        </div>
        <div class="function-container">
            <div class="button-container">
                <button onclick="displayGamesContainer()">
                    <i class="fa-solid fa-download" style="padding-right: 5px;"></i>
                    Retrieve Game Information
                </button>
            </div>
            <div class="sub-container" games-container style="display: none">
                <form id="games-form">
                    <div><select game-week week-options></select></div>
                    <div><select game-season-type season-type-options></select></div>
                    <div><button type="submit">Retrieve Games</button></div>
                </form>
            </div>
        </div>
        <div class="function-container">
            <div class="button-container">
                <button onclick="displayScoresContainer()">
                    <i class="fa-solid fa-calculator" style="padding-right: 5px;"></i>
                    Update Scores
                </button>
            </div>
            <div class="sub-container" scores-container style="display: none">
                <form id="scores-form">
                    <div><select score-week week-options></select></div>
                    <div><select score-season-type season-type-options></select></div>
                    <div><button type="submit">Update Scores</button></div>
                </form>
            </div>
        </div>
        <div class="function-container">
            <div class="button-container">
                <button onclick="displayRefreshTeamsContainer()">
                    <i class="fa-solid fa-arrows-rotate" style="padding-right: 5px;"></i>
                    Refresh Teams
                </button>
            </div>
            <div class="sub-container" refresh-teams-container style="display: none">
                <form id="refresh-teams-form">
                    <div><select refresh-season season-options></select></div>
                    <div><button type="submit">Refresh Teams</button></div>
                </form>
            </div>
        </div>
        <div class="function-container">
            <div class="button-container">
                <button onclick="displayTeamRecordsContainer()">
                    <i class="fa-solid fa-download" style="padding-right: 5px;"></i>
                    Retrieve Team Records
                </button>
            </div>
            <div class="sub-container" team-records-container style="display: none">
                <form id="team-records-form">
                    <div><select record-season season-options></select></div>
                    <div><button type="submit">Retrieve Team Records</button></div>
                </form>
            </div>
        </div>
        <div class="function-container">
            <div class="button-container">
                <button onclick="displayBettingLinesContainer()">
                    <i class="fa-solid fa-download" style="padding-right: 5px;"></i>
                    Retrieve Betting Lines
                </button>
            </div>
            <div class="sub-container" betting-lines-container style="display: none">
                <form id="betting-lines-form">
                    <div><select betting-season season-options></select></div>
                    <div><button type="submit">Retrieve Betting Lines</button></div>
                </form>
            </div>
        </div>
        <div class="function-container">
            <div class="button-container">
                <button onclick="displayExpectedWinsContainer()">
                    <i class="fa-solid fa-arrows-rotate" style="padding-right: 5px;"></i>
                    Refresh Expected Wins
                </button>
            </div>
            <div class="sub-container" expected-wins-container style="display: none">
                <form id="expected-wins-form">
                    <div><select expected-wins-season season-options></select></div>
                    <div><button type="submit">Refresh Expected Wins</button></div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <a href="https://collegefootballdata.com/" class="cfb-data">Powered by College Football Data</a>
    </footer>
</body>
</html>