<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <script defer src="draftRoom.js"></script>
    <script src="navbar.js"></script>
    <script src="sorttable.js"></script>
    <title>Fantasy CFB</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-title" poll-name>
                Draft Room
            </div>
        </div>
        <div>
            <table class="live-draft-table">
                <tbody draft-body>
                    <tr>
                        <td>
                            <table class="live-draft-table draft-team-table">
                                <tbody>
                                    <tr></tr>
                                    <tr>
                                        <td style="width: 300px;"><strong>Treyce</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">1.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">2.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">3.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">4.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">5.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">6.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">7.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">8.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">9.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">10.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                                <tbody></tbody>
                            </table>
                        </td>
                        <td>
                            <table class="live-draft-table draft-team-table">
                                <tbody>
                                    <tr></tr>
                                    <tr>
                                        <td style="width: 300px;"><strong>Garrett</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">1.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">2.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">3.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">4.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">5.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">6.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">7.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">8.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">9.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">10.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                                <tbody></tbody>
                            </table>
                        </td>
                        <td>
                            <table class="live-draft-table draft-team-table">
                                <tbody>
                                    <tr></tr>
                                    <tr>
                                        <td style="width: 300px;"><strong>Brock</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">1.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">2.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">3.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">4.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">5.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">6.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">7.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">8.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">9.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">10.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                                <tbody></tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="live-draft-table draft-team-table">
                                <tbody>
                                    <tr></tr>
                                    <tr>
                                        <td style="width: 300px;"><strong>Trevor</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">1.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">2.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">3.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">4.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">5.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">6.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">7.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">8.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">9.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">10.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                                <tbody></tbody>
                            </table>
                        </td>
                        <td>
                            <table class="live-draft-table draft-team-table">
                                <tbody>
                                    <tr></tr>
                                    <tr>
                                        <td style="width: 300px;"><strong>Michael</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">1.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">2.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">3.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">4.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">5.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">6.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">7.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">8.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">9.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width: 250px; height: 35px; display: flex;" >
                                            <table style="margin-left: 5px;">
                                                <tr style="display: flex;">
                                                    <td style="min-width: 30px;"><p style="padding-left: 5%;">10.</p></td>
                                                    <td><div class="draft-team-container" draft-team-container>
                                                        <select class="team-picker" id="team-picker" team-options onchange="displayTeamLogo($(this).closest('tr').find('[team-logo]'),value)">
                                                        </select>
                                                    </div></td>
                                                    <td team-logo>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                                <tbody></tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="content">
            <input 
                type="text" 
                id="myInput" 
                onkeyup="filterFunction()" 
                placeholder="Team or Conference" 
                title="Type in a team name or conference"
                style="margin-left: 1%; padding: 5px;">
            <div class="team-list-container" team-list-container>
                
                <table class="fl-table sortable">
                    <thead>
                    <tr class="headerRow">
                        <th class="sticky-header team-header" style="cursor: pointer;">Team</th>
                        <th class="sticky-header team-header" style="cursor: pointer;">Conference</th>
                        <th class="sticky-header team-header sorttable_numeric" style="cursor: pointer;">Previous Season Score</th>
                    </tr>
                    </thead>
                    <tbody user-table-body>
                    <tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <a href="https://collegefootballdata.com/" class="cfb-data">Powered by College Football Data</a>
    </footer>
</body>
</html>