<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <link href="team.css" rel="stylesheet">
    <link href="loading.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script defer src="team.js"></script>
    <script src="navbar.js"></script>
    <title>Campus Clash</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="team-card" id="team-container">
    </div>
    <hr class="hr-subtle">
    <div class="standings-container">
        <div class="team-card schedule" id="schedule-container"></div>
        <div class="team-card schedule" id="conference-standings"></div>
    </div>
    <footer>
        <a href="https://collegefootballdata.com/" class="cfb-data">Powered by College Football Data</a>
    </footer>
</body>