<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <script defer src="userHome.js"></script>
    <script src="navbar.js"></script>
    <title>Fantasy CFB</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-title" poll-name>
                User Home
            </div>
        </div>
        <div class="content">
            <div class="get-users-container" get-users-container>
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                        <tr>
                            <th class="sticky-header">Team</th>
                            <th>Week 1</th>
                            <th>Week 2</th>
                            <th>Week 3</th>
                            <th>Week 4</th>
                            <th>Week 5</th>
                            <th>Week 6</th>
                            <th>Week 7</th>
                            <th>Week 8</th>
                            <th>Week 9</th>
                            <th>Week 10</th>
                            <th>Week 11</th>
                            <th>Week 12</th>
                            <th>Week 13</th>
                            <th>Week 14</th>
                            <th>Week 15</th>
                            <th>Postseason</th>
                            <th class="sticky-header-score">Team Score</th>
                        </tr>
                        </thead>
                        <tbody user-table-body>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <a href="https://collegefootballdata.com/" class="cfb-data">Powered by College Football Data</a>
    </footer>
</body>
</html>